:root {
  --bg_main: #F5F5F5;
  --bg_primary: #E0E0E0;
  --bg_secondary: #BDBDBD;
  --accent: #E91E63;
  --dark_accent: #C2185B;
  --dark_accent2: #AD1457;
  --light_accent: #F06292;
}

textarea#test {
  width: 80%;
  height: 50%;
  top: 150px;
  left: 50px;
  position: absolute;
}